extends layout

block content
  div.container
    div.row
      if success == true
        if highrisk == false
          div.alert.alert-success(style="text-align:center;") Thank you for submitting, a nurse will follow up with you shortly.
        else
          div.panel.panel-danger(style="text-align:center;")
            div.panel-heading
              h3.panel-title High Risk
            div.panel-body
              p Your response shows you may be at high risk from Influenza. You should hear from our nurse within 24 hours. If symptoms worsen, please dial 911 or visit a hospital, as your demographic is at high risk for serious complications.
      else
        div.panel.panel-warning(style="text-align:center;")
          div.panel-heading
            span.glyphicon.glyphicon-flash(style="float:left;margin-right:5px")
            h3.panel-title Influenza Breakout
          div.panel-body
            img(src="/images/makana_wizard.png")
            p Influenza has been reported in your area. Please click below if you're feeling any symptoms so we can track its spread and help you recover!
            p
              a.btn.btn-default(role="button", href="/preAuthForm") Report symptoms
    div.row(style="text-align:center;")
      div.col-xs-12.col-sm-6.col-md-4.col-lg-4
          img.boximg(src="/images/diab.png" )
      div.col-xs-12.col-sm-6.col-md-4.col-lg-4
          img.boximg(src="/images/box5.png" )
      div.col-xs-12.col-sm-6.col-md-4.col-lg-4
          img.boximg(src="/images/box2.png" )
      div.col-xs-12.col-sm-6.col-md-4.col-lg-4
          img.boximg(src="/images/box4.png" )
      div.col-xs-12.col-sm-6.col-md-4.col-lg-4
          img.boximg(src="/images/box6.png" )


          