extends layout

block content
  div.alert.alert-primary
      h3.panel-title Please enter your information below for the report!

  div.container
    form(method="post", action="/insertData")
      div.col-xs-6.col-lg-8
        table.table
          thead
            tr
              th Flu Symptoms
          tbody
            tr
              td Fever or Chills
            tr
              td Cough
            tr
              td Sore Throat
            tr
              td Runny/Suffy Nose
            tr
              td Muscle or Body Aches
        

      div.col-xs-6(style="margin-top:15px;")
          div.row
            div.input-group.input-group-lg
              input.form-control(type="text", name="first_name", placeholder="First Name")
            div.input-group.input-group-lg
              input.form-control(type="text", name="last_name", placeholder="Last Name")
            div.input-group.input-group-lg
              input.form-control(type="text", name="phone", placeholder="Phone #")
            div.input-group.input-group-lg
              input.form-control(type="text", name="city", placeholder="City")
            div.input-group.input-group-lg
              input.form-control(type="text", name="state", placeholder="State")
          div.row(style="text-align:center;margin-bottom:5px;border-bottom:2px solid black;")
            h3.panel-title Do Any Of These Apply To You?
            div.btn-group-md.btn-group.togglebtns(data-toggle="buttons")
              label.btn.btn-primary
                input(name="over65" type="checkbox" autocomplete="off")
                span Over 65+
              label.btn.btn-primary
                input(name="chronic" type="checkbox" autocomplete="off")
                span Chronic Illnesses
            div.btn-group-md.btn-group.togglebtns(data-toggle="buttons")
              label.btn.btn-primary
                input(name="pregnant" type="checkbox" autocomplete="off")
                span Pregnant Woman
              label.btn.btn-primary
                input(name="child" type="checkbox" autocomplete="off")
                span Young Child(<12)    
          div.row
            button.btn.btn-info.col-xs-8(type="submit") Submit Request

          
      



