body {
  padding-top: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.navbar-brand{
	padding:7px 15px;
}

.row div{
	margin-bottom:10px;
}

.boximg{
	width:100%;max-width:700px;min-width:100px;
}

.togglebtns label{
	margin: 5px 5px 5px 5px;
}

#buttonHolder .btn{
	margin:5px;
}
